@import url('https://fonts.googleapis.com/css2?family=Pridi:wght@200;300;400;500;600;700&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Yrsa:ital,wght@0,300..700;1,300..700&display=swap');

:root {
    --maincolor: #226222;
    --secondarycolor: #613D22;
    --titlefont: "Source Sans 3", sans-serif;
    --h23font: "Yrsa", serif;
    --pfont: "Pridi", serif;
}

* {
    box-sizing: border-box;
    margin: 0;
  }

/*Toutes les modifications d'écritures sont ici */
h1 {
    font-family: var(--titlefont);
    font-size: 64px;;
}

h2, h3, #textSeeMore {
    font-family: var(--h23font);
}

h2 {
    font-size: 48px;
}

h3, #textSeeMore {
    font-size: 24px;
    color: white;
}

p, a, li {
    font-family: var(--pfont);
    font-size: 16px;
    color: white;
    text-decoration: none;
}

#pDescription {
    color:black;
}

/*Ici toutes les modifications au header nav (et ul) et footer*/
header {
    background-color: var(--maincolor);
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    text-align: end;
    align-items: center;
    padding: 15px;
    gap: 30px;
}

header img {
    max-width: clamp(150px, 40vh, 400px);
}

.navfloat{
    grid-column-start: 1;
    grid-column-end: 3;
}

nav {
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: var(--maincolor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

nav img {
    max-height: 5vh;
}

ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

li {
    margin: 10px;
}

footer {
    background-color: var(--maincolor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    padding: 15px;
}


/*Ici commence les modifs au main*/
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 25px;
}


/*Lié au grid et article sur les morphs de snek*/
article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--secondarycolor);
    height: clamp(200px, 40vh, 250px);
    padding: 15px;
    border-radius: 15px;
}

.Morph-section article img {
    max-height: 80%;
}

.Morph-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 80%;

}

.Morphs {
    grid-column-start: 1;
    grid-column-end: span 3;
    justify-self: center;
    text-align: center;
}

button {
    background-color: var(--maincolor);
    border-radius: 15px;
    border: var(--maincolor);
}

.seeMore {
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 30px;
    box-shadow: 7px 9px 7px 3px rgba(0,0,0,0.78);
}

@media screen and (max-width : 760px) {
    header {
        width: auto;
        display: flex;
        flex-direction: column;
        justify-items: baseline;
        text-align: center;
        align-items: center;
        gap: 0;
        }
    
    .navfloat {
        width: 95%;
    }
    section{
        width: 80%;
    }

    ul {
        flex-direction: column;
    }

    li {
        margin: 0;
        text-align: end;
    }

    .Morph-section {
        grid-template-columns: 1fr;
    }

    .Morphs {
        grid-column-end: 1;
    }

    .Morph-section article img {
        max-width: 100%;
    }

    footer p {
        text-align: center;
    }
}

@media screen and (min-width : 760px) and (max-width : 900px) {
    header {
        grid-template-columns: 1fr;
        justify-content: baseline;
        text-align: center;
        align-items: center;
    }

    .Morph-section article img {
        max-width: 100%;
    }
}